@page
@model ApplyModel
@{
    ViewData["Title"] = "Admissions opens on 13 Sept!";
}


<div style = "background-image: url('images/Staircase.png'); background-size: cover">
<H1 style="color: white" class="mx-auto">@ViewData["Title"] </H1>
<H2 style="color: white; margin-top: 30px"> Visit our office</H2>

<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-sm" style="color: white">
            <i> <b> Chicago</b> <br> Schmitt Academic Center, 2320 N Kenmore Ave #192, Chicago, IL 60614<br> </i>
        </div>
        <div class="col-sm" style="color: white; margin-top: 70px">
            <i> <b> New York</b> <br> 192 Lexington Ave #701, New York, NY 10016<br> </i>
        </div>
        <div class="col-sm" style="color: white; margin-top: 130px">
            <i> <b>Cincinnatik</b> <br>1916 Central Pkwy, Cincinnati, OH 45214<br> </i>
        </div>
        <div class="col-sm" style="color: white; margin-top: 190px">
            <i> <b>Dallas</b> <br> 3626 N Hall St Suite 610, Dallas, TX 75219<br> </i>
        </div>
        <div class="col-sm" style="color: white; margin-top: 250px"> 
            <i> <b>San Jose</b> <br>3060 Patt Ave, San Jose, CA 95133<br> </i>
        </div>
    </div>
</div>

</div>
