@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    h1 {
        font-weight: 100;
    }

    p1 {
        position: absolute;
        top: 200px;
        right: 220px;
        width: 300px;
        text-align: right;
        text-align: justify;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    p2 {
        position: absolute;
        top: 350px;
        right: 220px;
        width: 300px;
        text-align: right;
        text-align: justify;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    p3 {
        position: absolute;
        top: 400px;
        right: 550px;
        width: 300px;
        text-align: right;
        text-align: justify;
        padding-bottom: 30px;
        margin-bottom: 30px;
        font-size: 20px;
        color:dodgerblue;
    }
    p4 {
        position: absolute;
        top: 400px;
        right: 550px;
        width: 300px;
        text-align: right;
        text-align: justify;
        padding-bottom: 30px;
        margin-bottom: 30px;
        font-size: 20px;
        color: dodgerblue;
    }
    p5 {
        position: absolute;
        top: 400px;
        right: 550px;
        width: 300px;
    }
    img {
        position: absolute;
        top: 350px;
        right: 800px;
        width: 300px;
        text-align: right;
        text-align: justify;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    img2 {
        position: absolute;
        top: 350px;
        right: 700px;
        width: 300px;
        text-align: right;
        text-align: justify;
        padding-bottom: 30px;
        margin-bottom: 30px;
        
    }

    body {
        background-image: url('images/Background.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>


<body>
<div class="text-md-left">
    <h1 class="display-4"><b>Edification Career Serives</b></h1>
    <h2 class="font-weight-bolder:10px">Here to help you stand out!</h2>
    <p>Edification is an American worldwide employment website for job listings launched in November 2004.</p>
    <address style="margin-bottom: 30px"> 5000 Florence Mall, Florence, KY 41042| +15133993202 | media@edification.com </address>
    
     <h3>Services</h3>
    <span class="badge badge-primary">Career assessments</span>
    <span class="badge badge-light">Resume critiques</span>
    <span class="badge badge-primary">Interview preparation</span>
    <span class="badge badge-light">Mock Interviews</span>
    <span class="badge badge-primary">Salary negotiations</span>
    <span class="badge badge-light">Job search strategies</span>

    <H5 style="position: absolute; top: 150px; right: 340px; width: 100px; text-align:center">Testimonials</H5>

    <p1><i>Edification Career Services has been tremendously helpful to me. I cannot speak about the impacts of the department without mentioning director Ms. Taylee.<br>_Chizoba Choice Ogbuchi</i></p1>

    <p2><i>I was fortunate enough to take the résumé class and I learned how to write my own résumé with the help of Ms. Shweta, Career Center Manager.  After attending two classes I ended up creating a professional résumé.<br>_Alhareth Almaroof</i></p2>


</div>
<H5>Industries we specialize in</H5>
<div class="list-group">
    <a href="https://en.wikipedia.org/wiki/Analytics" class="list-group-item list-group-item-action" style = "width: 250px">Analytics</a>
    <a href="https://en.wikipedia.org/wiki/Management" class="list-group-item list-group-item-action"  style = "width: 250px">Management</a>
    <a href="https://en.wikipedia.org/wiki/Consultant" class="list-group-item list-group-item-action" style = "width: 250px" >Consulting</a>
    <a href="https://en.wikipedia.org/wiki/Finance" class="list-group-item list-group-item-action"  style = "width: 250px">Finance</a>
    <a href="https://en.wikipedia.org/wiki/Engineering" class="list-group-item list-group-item-action"  style = "width: 250px">Engineering</a>
</div>

<div>
    <img style="margin-left: 50px" src="~/images/Paper_Plane.gif" alt="Paper Plane">
    <img style="margin-left: 50px; width: 200px; height:200px ;top:450px; right:550px" src="~/images/Home_Page_Women.png" alt="Paper Plane">
    <p4><b>We are accepting Applications now! Click</b> &nbsp; <a href="http://localhost:39348/Apply"> <b>Apply!</b></a><p4>


</div>

<div class="container">
    <div class="row">
        <div class="col-sm" style="color: cornflowerblue">
            <i><b>Chicago</b></i>
        </div>
        <div class="col-sm" style="color: deepskyblue">
            <i><b>New York</b></i>
        </div>
        <div class="col-sm" style="color: cornflowerblue ">
            <i><b> Cincinnati</b></i> 
        </div>
        <div class="col-sm" style="color: deepskyblue ">
            <i><b>Dallas</b></i>
        </div>
        <div class="col-sm" style="color: cornflowerblue">
            <i><b> San Jose</b></i>
        </div>
    </div>
</div>
</body>





