@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    h1 {
        font-weight: 100;
    }

</style>


<div class="text-center">
    <img style="margin-left: 50px" src="images/Company_logo.png" alt="Company Logo">
    <h1 class="display-4">Fashion Top</h1>
    <h2 class="font-weight-bolder:10px">Where art meets fashion!</h2>
    <p>Fashion Top is a Swedish multinational clothing-retail company known for its fast-fashion clothing for men, women, teenagers, and children.</p>
        <address> 5000 Florence Mall, Florence, KY 41042| +15133993202 | media@fashiontop.com </address> 

    </div>

