@page
@model OurTeamModel
@{
    ViewData["Title"] = "Meet OurTeam!";
}
   <style>
    h2 {
        text-align:center
    }

    p {
        text-align: center
    }
    </style>


<H1 style="color: dodgerblue" class= "mx-auto">@ViewData["Title"] </H1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img style="width: 350px; height: 350px;" class ="rounded" src="images/OurTeam_Image1.png" alt="A photo of a man">
            <H2>Taylee</H2>
            <p>About Name1 person</p>
        </div>
        <div class="col-md-4">
            <img style="width: 350px; height: 350px;" src="images/OurTeam_Image2.png" alt="A photo of a man">
            <H2>Shweta</H2>
            <p>About Name2 person</p>
        </div>
        <div class="col-md-4">
            <img style="width: 350px; height: 350px;" src="images/OurTeam_Image3.png" alt="A photo of a man">
            <H2>Corwin</H2>
            <p>About Name3 person</p>
        </div>
    </div>
</div>


