@page
@model OurTeamModel
@{
    ViewData["Title"] = "Meet OurTeam!";
}
   <style>
    h2 {
        text-align:center
    }

    p {
        text-align: center
    }
       img {
           width: 300px;
           height: 300px;
           margin-bottom: 30px;
       }
    </style>


<H1 style="color: dodgerblue" class= "mx-auto">@ViewData["Title"] </H1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img  src="images/OurTeam_Image1.png" alt="A photo of a man">
            <H2>Taylee</H2>
            <p>Taylee co-founded Edification in 2004 and currently serves as Chairman of the Board of Edification. In addition, Taylee is a Board Director of Recruit Holdings, Edification’s parent company.</p>
        </div>
        <div class="col-md-4">
            <img  src="images/OurTeam_Image2.png" alt="A photo of a man">
            <H2>Shweta</H2>
            <p> Shweta is Chief Marketing Officer (CMO) at Edification. She is responsible for Brand, Communication, Product, Acquisition, and Experience Marketing globally. Before joining Edification, Shweta was CMO at OpenTable.
            </p>
        </div>
        <div class="col-md-4">
            <img src="images/OurTeam_Image3.png" alt="A photo of a man">
            <H2>Corwin</H2>
            <p>Corwin serves as Senior Vice President of Human Resources for Edification, with a focus on growing, developing and engaging Edification’s talent and nurturing the company culture.</p>
        </div>
    </div>
</div>


