@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<Style>
    h1, h4 {
        margin-bottom: 40px;
    }

    div {
        background-image: url('images/privacy_page_background.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</Style>

<h1>@ViewData["Title"]</h1>

<div>
<h2 style="margin-bottom: 40px;">Cookies, Privacy and Terms of Service</h2>

<h4>Updated September 10, 2021: If you intend to serve legal documents to Edification, you must do so at our registered agent in Texas at:</h4>
<h5>Edification, Inc., c/o CT Corporation, 1999 Bryan Street, Suite 900, Dallas, TX 75201 </h5>
<p style="margin-bottom:40px;"> Below you will find Edification terms and conditions, including our cookie and privacy policies. We know we are giving a great deal of information. Edification does this for a reason: we want you to have as much knowledge about what we do for you at Edification as is possible. We do not want you to wonder about any of our processes or procedures or guess as to what your interaction with Edification means. We want you to understand it, which is why we must explain it in detail. We urge you to read these terms or any section of interest to you. You are agreeing to proceed under them.</p>

<h5>The Right to Know Your Personal Data</h5>
<p>You have the right to request that we disclose the Personal Data we collect, use, disclose and “sell” (we explain this term further in Section 13.2, below) about you. For more information on how to exercise this right, please see Section 10 of our Privacy Policy.<br><br>The following sections of our Summary of Edification’s Privacy Policy explain the categories of Personal Data we collected over the past twelve (12) months (section 3), why we collected this information (section 4), and the third parties with which we shared it (section 5).<br><br>We also cover these topics more expansively in our Full Privacy Policy: sections 2.1-2.3 explain the categories of Personal Data we collect; sections 4, 5, and 9 explain the purposes for which we use your Personal Data; and sections 4.12 – 4.16, 8, 9 and 11 explain our disclosure of your Personal Data to third parties.<p>
</div>