@page
@model RecruitCatShweta_T_Shah.Pages.Industries.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Industry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Industry.Id" />
            <div class="form-group">
                <label asp-for="Industry.Name" class="control-label"></label>
                <input asp-for="Industry.Name" class="form-control" />
                <span asp-validation-for="Industry.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Industry.Domain" class="control-label"></label>
                <input asp-for="Industry.Domain" class="form-control" />
                <span asp-validation-for="Industry.Domain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Industry.NumberOfCompany" class="control-label"></label>
                <input asp-for="Industry.NumberOfCompany" class="form-control" />
                <span asp-validation-for="Industry.NumberOfCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Industry.NumberOfCandidate" class="control-label"></label>
                <input asp-for="Industry.NumberOfCandidate" class="form-control" />
                <span asp-validation-for="Industry.NumberOfCandidate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Industry.Revenue" class="control-label"></label>
                <input asp-for="Industry.Revenue" class="form-control" />
                <span asp-validation-for="Industry.Revenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Industry.HighRisk" class="control-label"></label>
                <input asp-for="Industry.HighRisk" class="form-control" />
                <span asp-validation-for="Industry.HighRisk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Industry.PollutionRating" class="control-label"></label>
                <input asp-for="Industry.PollutionRating" class="form-control" />
                <span asp-validation-for="Industry.PollutionRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
